################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LogoFinderConsole/bin
/LogoFinderConsole/obj
/LogoFinderConsole/.vs
/ExCSS/bin/Debug/netcoreapp2.2
/ExCSS.Tests/bin/Debug/netcoreapp2.2
/ExCSS.Tests/obj
