################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LogoFinderConsole/bin
/LogoFinderConsole/obj
/LogoFinderConsole/.vs
